/* Costume theming of HyperCells website
*  -------------------------------------*/

/* Set font size.*/
html {
     --pst-font-size-base:105%!important;
     --pst-sidebar-font-size-mobile: 100%!important; 
}

/* Set global text alignemnt for block quotes.
*  and set the color of the border.*/
section {
     text-align:justify!important;
} 

/* Custom admonition */

/* Seealso admonition */
/*--------------------*/
div.admonition.seealso-icon > .admonition-title::after {
     content: "\f064"; /* the fa-scale icon */
     }

     div.admonition.seealso-icon {
          border-color: rgb(255, 136, 0.25, 1);
     }

     div.admonition.seealso-icon > .admonition-title {
          background-color: rgb(255, 136, 0, 0.14);
     }

     div.admonition.seealso-icon > .admonition-title::after {
          color: rgb(255, 136, 0.25, 1);
     }
/*-------------------*/

/* HyperCells admonition */
/*--------------------*/
div.admonition.HyperCells > .admonition-title::after {
     content: "\f1b2"; /* the fa-scale icon */
   }
   
   div.admonition.HyperCells {
        border-color: rgb(8, 0, 130, 1);
      }
   
   div.admonition.HyperCells > .admonition-title {
        background-color: rgb(8, 0, 130, 0.14);
   }
   
   div.admonition.HyperCells > .admonition-title::after {
        color: rgb(8, 0, 130, 1);
   }
/*-------------------*/

/* HyperBloch admonition */
/*--------------------*/
div.admonition.HyperBloch > .admonition-title::after {
     content: "\f1b2"; /* the fa-scale icon */
   }
   
   div.admonition.HyperBloch {
        border-color: rgb(130, 0, 0, 1);
      }
   
   div.admonition.HyperBloch > .admonition-title {
        background-color: rgb(130, 0, 0, 0.14);
   }
   
   div.admonition.HyperBloch > .admonition-title::after {
        color: rgb(130, 0, 0, 1);
   }
/*-------------------*/

/* Set global text alignemnt for block quotes.
*  and set the color of the border.*/
blockquote {
     text-align:justify!important;
     border-color: #8045e5!important;
} 

/* Customize inline gap code */
code.code-gap {
     font-size: 1em
}

/* Customize gap code block */
div.highlight-gap.notranslate {
     div.highlight {
          pre {
               border-left-color: rgb(15, 0, 230, 1);
               border-left-width: 3px;
          }
     }
}


/* Customize inline Mathematica code */
code.code-Mathematica {
     font-size: 1em
}

/* Customize Mathematica code block */
div.highlight-Mathematica.notranslate {
     div.highlight { 
          pre {
               border-left-color: rgb(200, 0, 0, 1);
               border-left-width: 3px;
          }
     }
}


/* Customize download button */
/*---------------------------*/
a.btn.btn-primary, 
a.btn.btn-primary:link, 
a.btn.btn-primary:visited,
a.btn.btn-primary:active {
     color: white;
     text-decoration:white;
     background-color:#0a7d91;
     border-color:#0a7d91;
}

a.btn.btn-primary, 
a.btn.btn-primary:hover{
     background-color:#8045e5;
     border-color:#8045e5;
}
/*---------------------------*/

/* Customize clickable cards */
/*---------------------------*/
div.sd-card.sd-sphinx-override.docutils {
     border-color:#0a7d91;
}

div.sd-card.sd-sphinx-override.docutils:hover {
     border-color:#8045e5;
}
/*---------------------------*/

/* Change primary sidebar width*/
@media (min-width: 959.98px) {
     .bd-sidebar-primary {
     width: 20%;
     }
}


nav#navbar-main, div.container-fluid, div.footer {
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
 }

/* Set figure caption*/
figcaption {
     color:black;
     padding: 2px;
     font-size: 100%!important;
     text-align: center;
   }

/* Display buttons in same row, if possible*/
.flex {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     gap: 10px 20px;  /* row-gap column gap */
     justify-content: center;
     align-items: stretch
 }
 
 .flex-child {
     -webkit-box-flex: 1 1 auto;
     -moz-box-flex:  1 1 auto;
     -webkit-flex:  1 1 auto;
     -ms-flex:  1 1 auto;
     flex:  1 1 auto;
     align-items: stretch
 }

/* Control the background of images in dark mode. */
/*------------------------------------------------*/

/* Prevent pydata from adding extra background colors to my images
  to be removed when https://github.com/pydata/pydata-sphinx-theme/issues/879
  will be solved */
/*
html[data-theme="dark"] .bd-content img:not(.only-dark):not(.dark-light) {
     background: transparent;
     border-radius: 0;
}
*/